*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: unset;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

:root {
  /* Font family */
  --font-fam-primary: "Inter", sans-serif;
  --font-fam-secondary: "Source Code Pro", monospace;

  /* COLOR */
  --clr-main-bg-dark: hsl(224, 71%, 4%);
  --clr-text-title-light: hsl(214, 32%, 91%);
  --clr-text-paragraph-dark: hsl(215, 23%, 65%);
  --clr-text-paragraph-muted-darker: hsl(215, 18%, 47%);
  --clr-link-light: hsl(210, 40%, 98%);
  --clr-light: hsl(210, 40%, 98%);
  --clr--strong-light: hsl(214, 32%, 91%);

  /* LETTER SPACING */
  --ls-0px: 0rem;
  --ls-1em: 0.1em;

  --ls-5px: 0.5em;
  --ls-0025px: -0.025em;

  /*  LINE HEIGHT */
  --lh-100: 1;
  --lh-160: 1.6;
  --lh-110: 1.1;
  --lh-120: 1.2;
  --lh-150: 1.5;
  /* BORDER RADIUS */
  --br-24px: 1.5rem;
  --br-12px: 0.75rem;
  --br-6px: 0.375rem;

  /* Breakpoints for reference only */
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* SPACING  AND SIZES*/
  --size-4px: 0.25rem;
  --size-8px: 0.5rem;
  --size-12px: 0.75rem;
  --size-14px: 0.875rem;
  --size-16px: 1rem;
  --flow-1rem: 1rem;
  --size-18px: 1.125rem;
  --size-20px: 1.25rem;
  --size-24px: 1.5rem;
  --size-28px: 1.75rem;
  --size-1x8px: 1.8rem;
  --size-32px: 2rem;
  --size-36px: 2.25rem;
  --size-40px: 2.5rem;
  --size-48px: 3rem;
  --size-60px: 3.75rem;
  --size-72px: 4.5rem;
  --size-84px: 5.25rem;
  --size-96px: 6rem;
  --size-128px: 8rem;
  --size-160px: 10rem;
  --size-350px: 21.875rem;
  --size-700px: 43.75rem;

  /* OTHER SIZE LAYOUT */
  --sizes-xxs: 0.5rem;
  --sizes-xs: 0.75rem;
  --sizes-sm: 0.875rem;
  --sizes-1rem-base: 1rem;
  --sizes-lg: 1.125rem;
  --sizes-xl: 1.25rem;
  --sizes-2xl: 1.5rem;
  --sizes-3xl: 1.875rem;
  --sizes-4xl: 2.25rem;
  --sizes-5xl: 3rem;
  --sizes-6xl: 3.75rem;
  --sizes-7xl: 4.5rem;
  --sizes-8xl: 6rem;
  --sizes-9xl: 8rem;
  --sizes-10xl: 10rem;
  --size-11x25: 11.25rem;

  /* transitions */
  --transition-03s: 0.3s;

  /* font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  /* spacing */
  --switcher-target-container-width: 476px;
  --switcher-vertical-alignment: stretch;
}

body {
  background-color: var(--clr-main-bg-dark);
  color: #fff;
  font-family: "Inter", sans-serif;
}

.header-container {
  background-color: #1d224d;
  padding-block-end: 4rem;
  /* border: 2px solid red; */
}

.header__logo-container {
  width: 80%;
  margin-inline: auto;
}

.header__title-container {
  /* border: 2px solid red;s */
  padding-block-start: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 80%;
  margin-inline: auto;
}

.logo__img {
  max-width: 6.25rem;
  height: 6.25rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  object-fit: cover;

  margin-top: 0.5rem;
}

.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__img-wrapper {
  margin-right: 4rem;
  min-width: 12.5rem;
  height: auto;
  object-fit: contain;
}

.hero__img {
  min-width: 12.5rem;
  height: auto;
  object-fit: contain;
}

.header__menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.header__links {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 1.3rem;
  text-transform: lowercase;
}

.hero__content-wrapper > * + * {
  margin-top: 2rem;
}

.hero__content-wrapper {
  padding: 2rem;
  max-width: 65ch;
}

.hero__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
}

.hero__description {
  font-size: 1.125rem;
  color: #f9faf8;
}

.hero__btn {
  background-color: #3882f6;
  border: none;
  color: #fff;
  padding: 0.8em 2.5em;
  border-radius: 6px;
  cursor: pointer;
}

/* FEATURES SECTION */
.features {
  padding-block-start: 4rem;
  padding-block-end: 4rem;
  background-color: #f9faf8;
}

.features__container {
  width: 80%;
  margin-inline: auto;
}

.features__img {
  width: 100%;
  max-width: 11.5rem;
  height: auto;
  border: 4px solid #1d224d;
  border-style: outset inset;
  padding: 1rem;
  border-radius: 12px;
}

.features__box-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 4rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.features__box {
  border-radius: 12px;
  flex: 1;
  min-width: 12.5rem;
  text-align: center;
}

.features__title {
  color: #1d224d;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.features__box-description {
  color: #1d224d;
  max-width: 26ch;
  margin-inline: auto;
}

/* TESTIMONIAL SECTION */

.testimonial__container {
  background-color: #e5e7eb;
  /* border: 3px solid red; */
  padding-block: 9rem;
}

.testimonial__content-wrapper {
  text-align: center;
  width: 80%;
  margin-inline: auto;
  /* border: 3px solid red; */
  color: #1d224d;
}

.testimonial__description {
  max-width: 70ch;
  margin-inline: auto;
  font-family: inherit;
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 1.4;
}

.testimonial__description2 {
  font-size: 1.5625rem;
  text-align: right;
  font-weight: 800;
  padding-right: 3.5rem;
}

/* CTA SECTION----------- */

.cta {
  /* border: 2px solid red; */
  background-color: #f9faf8;
  color: #1d224d;
  padding-block: 8rem;
  text-align: center;
}

.cta__wrapper {
  /* border: 2px solid #fff; */
  width: 80%;
  margin-inline: auto;
  padding-block: 4rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;

  background-color: #3882f6;
}

.cta__btn-wrapper {
  padding-block-start: 1rem;
  margin-right: 6rem;
}

.cta__btn {
  border: 2px solid #fff;
  border-radius: 6px;
  background: none;
  color: #fff;
  padding: 0.5em 3em;
  font-size: 1rem;
  opacity: 90%;
}

.cta__title {
  text-align: start;
  color: #fff;
  opacity: 90%;
  font-size: 2rem;
  font-weight: 700;
}

.cta__description {
  color: #fff;
  opacity: 70%;
  font-size: 1.3rem;
  text-align: start;
  /* flex: 1; */
}

/* FOOTER SECTION */

.footer {
  text-align: center;
  padding-block: 3rem;
  background-color: #1d224d;
}

.footer__description {
  font-size: 0.8rem;
}
